#wrap {
    width: 600px;
    margin:auto;
    border-width: 1px;

}

img {
    margin-left: 200px;
}

footer {
    margin-top: 50px;
    text-align: center;
}

h1, h2 {
    text-align: center;
}
body {
    background-color: antiquewhite;
    font-family: 'Times New Roman', Times, serif;
    color: purple;
}